</body>

<!-- Bottom Nav -->
  <footer>
    <nav
      class="navbar fixed-bottom navbar-light"
      style="background-color: #e3f2fd"
    >
      <a class="navbar-brand display-6 navbar-text"
        >&copy; All Rights reserved - Copyrights 2020</a
      >
    </nav>
  </footer>