  /* custom css goes here */
  .navbar {
      align-items: center;
      color: rgb(255, 0, 157);

  }

  .navbar-brand img {
      width: 80px;
      height: 80px;
      margin-left: 100px;
  }

  .nav-item {
      justify-content: space-between;
      align-items: center;
      letter-spacing: 5px;
      color: Mediumslateblue;
  }

  .background {
      background-image: url("https://i.imgur.com/xDX3YeG.jpg"); 
      max-height: 800px;
    background-size: cover;
  }
  .img-fluid {
      max-height: 670px;
      padding-left: 35%;
  }