  /* custom css goes here */
  .navbar {
      align-items: center;
      color: rgb(255, 0, 157);
  }

  .navbar-brand img {
      width: 80px;
      height: 80px;
      margin-left: 100px;
  }

  .nav-item {
      justify-content: space-between;
      align-items: center;
      letter-spacing: 5px;
      color: Mediumslateblue;
  }

    /* CSS for the Home Page */

  .home {
      color: white;
  }

  .background {
    background-image: url("https://i.imgur.com/xDX3YeG.jpg");
    height: 800px;
    background-size: cover;
  }

  section {
    padding-top: 30px;
    padding-left: 25%;
    max-height: 750px;
    display: flex;
  }

  section .column {
    flex-direction: column;
    padding-top: 10px;
  }

  .img-fluid {
      max-height: 740px;
  }

  .pink {
    color: rgb(255, 0, 157);
  }

  @media (max-width: 700px) {
    .home {
    color: rgb(255, 0, 157);
    }

    .pink {
        color: Mediumslateblue;
    }
  }