<%- include ../partials/header.ejs %>

<main class="container">
    
    <% if (messages.lenght > 0) { %>
        <div class="alert alert-danger">
            <% messages %>
        </div>
    <%}%>    
    
    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1> Register Please </h1>

            <form method="POST">
                <fieldset class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Please enter Username" required>
                </fieldset>
                
                <fieldset class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Please Enter password" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Please enter your email" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <label for="displayName">Display Name</label>
                    <input type="text" class="form-control" id="displayName" name="displayName" placeholder="Please enter your Display name" required>
                </fieldset>

                <fieldset class="form-group text-center">
                    <input type="submit" class="btn btn-primary btn-lg" value="Register">
                    <a href="/login">
                        <input type="button" class="btn btn-warning btn-lg" value="cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<%- include ../partials/footer.ejs %>
